# Firebase local cache
.firebase/

# IDE-specific
.idx/
.vscode/

# Build output
dist/

# Astro cache
.astro/

# Dependencies
node_modules/

# Environment variables
.env
*.env
.env.local

# Utility Scripts
deploy.sh

# Log files
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
